<div id="app">
  <div class="layout-container"
    v-show="!rankView">
    <div class="layout"
      :class="{'game-over': gameOver}">
      <div class="layout-row"
        :key="rowIndex"
        v-for="(row, rowIndex) in layout">
        <div class="layout-cell"
          :class="layoutColor[rowIndex][cellIndex]"
          :key="cellIndex"
          v-for="(cell, cellIndex) in row">
        </div>
      </div>
    </div>
    <div class="layout-right">
      <div class="best-score">
        <span>BEST</span>
        {{ this.bestScore }}
      </div>
      <div class="current-score">
        <span>SCORE</span>
        {{ this.currentScore }}
      </div>
      <div class="clear-line">
        <span>LINE</span>
        {{ this.clearLine }}
      </div>
      <div class="globale-score">
        <span>PAUSE</span>
        RANK
      </div>
    </div>
  </div>
  <div class="control"
    v-show="!rankView">
    <div class="control-left">
      <div class="button rotate-button"></div>
    </div>
    <div class="control-right">
      <div class="drop">
        <div class="button drop-button"></div>
      </div>
      <div class="left-right">
        <div class="button left-button"></div>
        <div class="button right-button"></div>
      </div>
      <div class="down">
        <div class="button down-button"></div>
      </div>
    </div>
  </div>
  <div class="rank-view"
    v-show="rankView">
    <div class="rank-container">
      <div class="person">
        <div class="score">
          Score
        </div>
        <div class="line">
          Line
        </div>
        <div class="string">
          Player
        </div>
      </div>
      <div class="person"
        :key="itemIndex"
        v-for="(item, itemIndex) in this.globalScore">
        <div class="score">
          {{item.score}}
        </div>
        <div class="line">
          {{item.line}}
        </div>
        <div class="string">
          {{item.string}}
        </div>
      </div>
    </div>
    <div class="rank-view-close">
      X
    </div>
  </div>
  <audio class="audio-down"
    src="./dist/down.mov"></audio>
  <audio class="audio-clear"
    src="./dist/clear.mov"></audio>
  <audio class="audio-over"
    src="./dist/over.mov"></audio>
</div>
